<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.naver.nid.cover.parser.diff" level="INFO" />
    <logger name="com.naver.nid.cover.parser.coverage" level="INFO" />
    <logger name="com.naver.nid.cover.checker" level="INFO" />
    <logger name="com.naver.nid.cover.github" level="INFO" />
    <logger name="com.naver.nid.cover.reporter" level="INFO" />

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>