# Github action define for test each major OS and show test result automatically
name: cover-checker test and get coverage

on:
  pull_request:
    branches: [ master ]
    types: [opened, synchronize, reopened, edited, ready_for_review]

jobs:
  build-and-test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        java-version: [8, 17]
        exclude:
          - os: macos-latest
            java-version: 8
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java-version }}
        cache: 'gradle'
    - name: Build with Gradle
      run: ./gradlew clean build jar --no-daemon
    - uses: actions/upload-artifact@v4
      with:
        name: cover-checker-${{ matrix.java-version }}-${{ matrix.os }}
        path: |
          cover-checker-console/build/libs/cover-checker-1.5.0.jar
          cover-checker-cobertura/build/reports/jacoco/test/jacocoTestReport.xml
          cover-checker-console/build/reports/jacoco/test/jacocoTestReport.xml
          cover-checker-core/build/reports/jacoco/test/jacocoTestReport.xml
          cover-checker-github/build/reports/jacoco/test/jacocoTestReport.xml
          cover-checker-jacoco/build/reports/jacoco/test/jacocoTestReport.xml
          cover-checker-lcov/build/reports/jacoco/test/jacocoTestReport.xml
  coverage:
    runs-on: ubuntu-latest
    needs:
      - build-and-test
    permissions:
      pull-requests: write
      checks: write
      statuses: write
    steps:
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 8
        java-package: 'jre'
    - uses: actions/download-artifact@v4
      with:
        name: cover-checker-8-ubuntu-latest
        path: ${{ github.workspace }}
    - name: comment coverage report
      shell: bash
      env:
        ACCESS_TOKEN: ${{ secrets.ACTION_TOKEN }}
      run: java -jar ./cover-checker-console/build/libs/cover-checker-1.5.0.jar
        -c ./cover-checker-cobertura/build/reports/jacoco/test/jacocoTestReport.xml
        -c ./cover-checker-console/build/reports/jacoco/test/jacocoTestReport.xml
        -c ./cover-checker-core/build/reports/jacoco/test/jacocoTestReport.xml
        -c ./cover-checker-github/build/reports/jacoco/test/jacocoTestReport.xml
        -c ./cover-checker-jacoco/build/reports/jacoco/test/jacocoTestReport.xml
        -c ./cover-checker-lcov/build/reports/jacoco/test/jacocoTestReport.xml
        -t 80 -r $GITHUB_REPOSITORY -g $ACCESS_TOKEN
        -p ${{ github.event.number }}
